<div class="container mt-4 border rounded" style="background-color: white;">
    <div class="text-center mt-4 mb-5">
        <h2>TRANG QUẢN LÝ</h2>
        <hr class="mt-1" style="border-top: 2px solid rgba(0, 0, 0, .1); width: 30%;">
    </div>
    <div class="mt-4 ml-2">
        <a href="/managers/pendingPost" style="text-decoration: none;">
            <button type="button" class="btn btn-warning mr-2" style="color: white;">Bài đăng chờ duyệt</button>
        </a>
        <a href="#" style="text-decoration: none;">
            <button type="button" class="btn btn-success mr-2">Bài đăng đã duyệt</button>
        </a>
        <a href="/managers/rejectedPost" style="text-decoration: none;">
            <button type="button" class="btn btn-danger">Bài đăng đã từ chối</button>
        </a>
    </div>

    <div class="container border rounded m-2">
        <div class="mt-4">
            <h3 class="text-center">{{#managerCheckStatus status}}{{/managerCheckStatus}}</h3>
            <table class="table mt-4 text-center table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên bài đăng</th>
                        <th scope="col" style="min-width: 115px;">Người đăng</th>
                        <th scope="col" style="min-width: 110px;">Trạng thái</th>
                        <th scope="col">Thời gian tạo</th>
                        <th scope="col">Người duyệt</th>
                        <th scope="col">Thời gian duyệt</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if posts}}{{else}} <tr><td colspan="7">Không có bài đăng nào đã được duyệt.</td></tr> {{/if}}
                    {{#each posts}}
                    <tr>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>
                            <a href="/posts/{{this._id}}" style="text-decoration: none;">{{this.title}}</a>
                        </td>
                        <td>{{this.userPost.[0].name}}</td>
                        <td style= "color: {{#checkColorStatus this.status}}{{/checkColorStatus}};" >
                            {{#checkStatus this.status}}{{/checkStatus}}
                        </td>
                        <td>{{this.createdAt}}</td>
                        <td>
                            {{this.reviewerName}}
                        </td>
                        <td>
                            {{this.reviewTime}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>